.card__title {
  font-family: @fonts;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @title-text-color;
}

.card__description {
  font-family: @fonts;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: @main-text-color;
}

.card__favorite {
  font-family: @fonts;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}
