.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-navigation__item {
  background-color: @main-background-color;
}

.main-navigation__link {
  font-family: @fonts;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: @navigatino-text-color;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
