.main-information__title {
  font-family: @fonts;
  .title-text-style();
  text-align: center;
  color: @title-text-color;
}

.main-information__text {
  font-family: @fonts;
  .main-text-style();
  color: @main-text-color;
}

.main-information__text-field {
  font-family: @fonts;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background-color: @text-field-color;
  border: none;
}
